@import "./global.css";

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../../public/imgs/swirl-bg.png");
  background-repeat: no-repeat;
  background-color: #63caf2;
  background-blend-mode: multiply;
  background-size: 1280px;
  background-position-x: 50%;
  color: var(--font-primary);

  @media (min-width: 1280px) {
    background-size: 2560px;
  }
}

header {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}
