@import "./global.css";

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../../public/imgs/swirl-bg.png");
  background-repeat: no-repeat;
  background-color: #17507e;
  background-blend-mode: multiply;
  color: var(--font-primary);
}

header {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}
