@import "./global.css";

div.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  height: 75vh;
}

div.hero-title {
  h1 {
    font-size: 172px;
    line-height: 90%;
  }
  h1.orange {
    color: var(--orange);
  }
}
