div.navbar-pill-container {
  margin: 20px 0;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  background-color: #1c1c1e;
  border-radius: 25px;
}

button.pill {
  margin: 6px;
  padding: 0 16px;
  height: 38px;
  width: max-content;
  border-radius: 19px;
  border: none;
  background-color: #1c1c1e;
  color: var(--font-primary);
  font-size: 1.1rem;
  &.selected {
    background-color: #343437;
  }
}
