/* div.navbar-pill-container {
  margin: 20px 0;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  background-color: #1c1c1e;
  border-radius: 25px;
}

button.pill {
  margin: 6px;
  padding: 0 16px;
  height: 38px;
  width: max-content;
  border-radius: 19px;
  border: none;
  background-color: #1c1c1e;
  color: var(--font-primary);
  font-size: 1.1rem;
  &.selected {
    background-color: #343437;
  }
} */

div.pill {
  display: flex;
  gap: 2px;
  background-color: #1c1c1e;
  border-radius: 28px;
  padding: 4px;
  margin: 12px;
}

button.tab {
  position: relative;
  border-radius: 14px;
  padding: 8px 16px;
  font-size: 1.2rem;
  color: var(--font-primary);
  background-color: transparent;
  border: none;

  &:focus-visible {
    outline: 2px solid black;
  }
}

span.motion {
  position: absolute;
  inset: 0;
  z-index: 10;
  border-radius: 24px;
  background-color: #ffffff;
  mix-blend-mode: difference;
}
